.fakeimg { 
    background-color: #aaaaaa
}

.datarpar {
    text-align: center;
}

.imgwllp{
    height: 200px;
}

.btn-primary{
    margin-top: 20px !important; 
    margin-left: 20px !important; 
}